.btnCatalog{
    width: 100%;
    height: 100%;
}
.btnSearth{
    width: 15%;

}
.fieldSearth{
    width: 100%;
    margin: 0;
    background-color: white;
}
.boxSearth{
    position: relative;
    transform:translateY(-10px);
    width: 100%;
    padding: 0;
}
