.catalogBtn{
    display: inline;
    width: 20%;
    height: 100%;
    margin-right: 20px;
}
.categoryWord{
    z-index: 10;
    background-color: white;
    width:30%;
    position:absolute;
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: x-large;
    padding: 20px;
    color: black;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}